{% extends 'layout.html.twig' %}

{% block content %}

<div class="row">
  <div class="col-12 text-center">
    <img src="assets/images/May_the_4th_be_with_you_(Star_Wars_Day).gif" alt="may the force be with you" />
  </div>
</div>
<div class="row">
  <div class="col-12 text-center">
    <h1>welcome here Padawan !</h1>
    <p>On this day of <a href="https://en.wikipedia.org/wiki/Star_Wars_Day">May 4th</a>, your today's challenge will be about Star Wars universe.</p>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <h2>General instructions</h2>
    <ul>
      <li>Ton code devra respecter les bonnes pratiques et en l'occurence les PSR-1 et PSR-2 pour la partie PHP. Codesniffer fait parti des dépendance de ce projet.</li>
      <li>Ton code devra être pushé sur le repository du projet. Sur une branche portant ton nom et prénom (Arthur_DUPOND). Pense aux commits atomiques !</li>
      <li>Ta page est déjà un minimum stylisée, ne perd pas ton temps sur l'intégration, concentre toi sur le code.
  </div>
</div>

<div class="row">
  <div class="col-12">
    <h2>1. Algorithm exercise</h2>
    <p>In <samp>src/Service/String.php</samp> you have to write code wich have the same behavior as PHP native function <samp>trim()</samp>.
      All your code must be in <samp>trimer()</samp> method.
      In PHP manual, it's describe as it :
      <blockquote cite="http://php.net/manual/fr/function.trim.php">
        <strong>trim</strong> — Supprime les espaces (ou d'autres caractères) en début et fin de chaîne.
        <a href="http://php.net/manual/fr/function.trim.php" target="_blank">see more</a>
      </blockquote>
      When you'll be done, in order to test your code, you have to run in command lines :
      <code class="block">
        ./vendor/bin/phpunit --bootstrap vendor/autoload.php tests/Service/StringTest
      </code>
      If all tests are OK, you can consider your mission acomplished.
      You can commit your work and push it on your remote branch.
      <em>It's useless to tell you to don't use trim itself.</em>
    </p>
  </div>
  <div class="col-12">
    <h2>2. Application developpement</h2>
    Your next mission is to finish the back end part of a Star Wars Wiki. You can read instrcutions below :
    <ol>
      <li>A page who display all characters from data base. All list items </li>
      <li></li>
    </ol>
    All views are ok, just focus on Model and Controller code.
  </div>
</div>
{% endblock %}
