<form method="post">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="title">Name :</label>
            <input type="text" class="form-control" name="title">
        </div>
        <div class="form-group col-md-6">
            <label for="area">Area :</label>
            <input type="text" class="form-control" name="picture">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="area">Picture :</label>
            <input type="url" class="form-control" name="area" id="area"/>
        </div>
        <div class="form-group col-md-6">
            <label for="size">Size :</label>
            <input type="text" class="form-control" name="size" id="size"/>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="planet">Planet :</label>
            <select name="planet" class="custom-select" id="planet">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group col-md-6">
            <label for="movie">Movie :</label>
            <select name="movie" class="custom-select" id="movie">
                <option value="">plp</option>
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <input type="submit" value="Valider">
        </div>
    </div>
</form>
